*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 1160px;
    height: 830px;
    background: #343C56;
    border-radius: 40px;
    margin: 58px auto;
    padding: 46px 84px;
}
button{ 
font-size: 12px;
font-weight: 700;
line-height: 14.52px;
text-align: center;
width: 200px;
height: 40px;
background-color: red;
border-radius:30px ;
color: white;
border: none;
}
header{
    display: flex;
    gap: 65px;
}
.ota{
    display: flex;
    margin-top: 68px;
    margin-bottom: 41px;
    justify-content: space-between;
}
h1{
    width: 264px;
    height: 118px;
    background-color: black;
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
p{
font-size: 12px;
font-weight: 700;
line-height: 14.52px;
text-align: center;
color: black;
padding: 28px 20px;
width: 400px;
height: 200px;
background: #61FF00;
border: 45px solid red;
background-color: 50px;
}
.text-ota{
    display: flex;
    justify-content:space-between ;
    margin-top: 41px;
}